{% extends "catalog/base.html" %}

{% block content %}
  <h1>Name: {{ author.first_name }} {{ author.last_name }}</h1>
    <pre class=tab>
        Date of Birth:  {{ author.date_of_birth }}  Date of Death:  {{ author.date_of_death }}
    </pre>
    <div>
    {% if author.author_image %}
        <img src="{{ author.author_image.url }}" alt="Brian">
    {% endif %}
    </div>
  <div style="margin-left:20px;margin-top:20px">
    <h4>Books</h4>

    {% for book in author.book_set.all %}
        {% if author.author_image %}
            <hr>
                <p>
                  <a href="{{ book.get_absolute_url }}">{{ book.title }}</a>
                </p>
        {% else %}
            <p><strong>There is No Copy Available</strong></p>
        {% endif %}
    {% endfor %}
  </div>
    <button type="button" onclick="location.href='{% url 'author_list' %}';" >Author List </button>
{% endblock %}
